{% extends "base.html" %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div class="for-all-new">
		<li>
			<a href="/">Main page</a>
		</li>
		<li>
			<a href="/student-list/">Student list</a>
		</li>
	</div>
    <div class="for-all-new">
        <h1>Create student</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Имя">
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}