<header id="header" class="alt skel-layers-fixed">
    <div class="header-logo">
        <h1><a href="/">muzStore</a></h1>
        <hr>
    </div>
    <div class="bar">
        <nav id="nav">
            <ul class="ul-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/programs/" class="icon fa-angle-down">Programs</a></li>
                <li><a href="/contacts/" class="icon fa-angle-down">Contacts</a></li>
            </ul>
        </nav>
    </div>
    <hr>
</header>
